.danmaku-input {
  background-color: lightcyan;
  border: 0;
  line-height: 26px;
  width: 100%;
  box-sizing: border-box;
  font-size: 24px;
}
.danmaku-color {
  float: right;
  position: absolute;
  right: 5px;
  line-height: 35px;
  font-size: 24px;
  bottom: 0px;
  vertical-align: middle;
}
.danmaku-box {
  background-color: lightcyan;
  border-top: 1px dashed lightblue;
  position: fixed;
  bottom: 0;
  width: 100%;
  left: 0;
  z-index: 9999;
}
.gulu {
  white-space: nowrap;
  display: block;
  position: fixed;
  left: 100%;
  transition: left 12s linear;
  font-size: 20px;
  text-shadow: -1px -1px 1px black, 1px -1px 1px black, -1px 1px 1px black, 1px 1px 1px black;
  color: white;
  z-index: 9999;
}
